@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", serif;
}

body{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 30px;
     font-weight: bold;
     min-height: 100vh;
     background: #6666ff;
     color: #000000;
     
}

body.register-active .container {
    display: none;
}

.container{
     margin: 20px auto;
     padding: 10px 20px;
     background: #e6f2ff;
     border-radius: 5px;
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
     max-width: 450px;
     text-align: center;

}

.form-box{
     width: 100%;
     max-width: 450px;
     padding: 30px;
     background: #cce6ff;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     display: none;
}

.form-box.active{
     display: block;
}

h2{
     text-align: center;
     font-size: 35px;
     margin-bottom: 20px;
}

h3{
     text-align: center;
     font-size: 10px;
     color: #6666ff;
}

input,
select {
     width: 100%;
     padding: 12px;
     background: #e6f2ff;
     border: 1px solid #4b4b4b;
     border-radius: 5px;
     outline: none;
     font-size: 16px;
     color: #000000;
     margin-bottom: 20px;
}

button{
     width: 100%;
     padding: 10px;
     background: #9999ff;
     border: none;
     cursor: pointer;
     font-size: 15px;
     font-weight: 500;
     margin-bottom: 20px;
     transition: 0.3s;
     border-radius: 5px;
}

button:hover{
     background: #6666ff;
}

p{
     font-size: 14px;
     text-align: center;
     margin-bottom: 10px;
}

p a{
     color: #ff0000;
     text-decoration: none;
}

p a:hover{
     text-decoration: underline;
}
